.Button {
  background-color: var(--primary);
  height: 50px;
  min-width: 70px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.Button.alt {
  background-color: var(--secondary);
}
