.InputFieldContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
  margin: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  box-shadow: 0 1px 5px 0 var(--primary);
  border-radius: 5px;
}

.InputFieldInput {
  height: 30px;
  width: 240px;
  font-size: 14px;
}

.InputFieldLabel {
  font-size: 16px;
}
