.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  color: var(--active);
  fill: var(--active);
}

.App-content {
  background-color: var(--bgcolor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
